.vs/InsaneComplexity/DesignTimeBuild/.dtbcache.v2
.vs/InsaneComplexity/v16/.suo
InsaneComplexity/obj/Debug/netcoreapp3.1/InsaneComplexity.assets.cache
InsaneComplexity/obj/Debug/netcoreapp3.1/InsaneComplexity.csprojAssemblyReference.cache
/.vscode
